*.o
*.la
*.lo
TAGS

# autotools
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
**/.deps
**/.libs
pkgconfig/libgoldilocks.pc
m4/

src/goldilocks_gen_tables_ed448goldilocks
test/test
test/test_bench

src/GENERATED/c/ed448goldilocks/.dirstamp
src/GENERATED/c/p448/.dirstamp
src/p448/.dirstamp
src/p448/arch_x86_64/.dirstamp
build/
