*.o
*.la
*.lo
TAGS

# autotools
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
**/.deps
**/.libs
pkgconfig/libgoldilocks.pc

src/goldilocks_gen_tables
test/test
test/test_bench

src/**/.dirstamp
build/
